<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>File Renamer</title>
    <link th:href="@{/index.css}" rel="stylesheet"  type="text/css"/>
</head>

<!--<body class="flex">-->
<!--<div class="file-upload flex column justify-content-space-around">-->
<!--   <span class="title">-->
<!--            File upload-->
<!--        </span>-->
<!--    <div class="drop-zone flex column justify-content-space-between align-items-center">-->
<!--        <img class="file-image" th:src="@{/images/icons8-add-file-48.png}"/>-->
<!--        <script>-->
<!--            res. sendFile(file);-->
<!--        </script>-->
<!--        <div>-->
<!--            Drag and drop or <a href="#">browse</a> your files-->
<!--        </div>-->
<!--        <input onchange="uploadFile(this.files[0])" type="file"/>-->
<!--    </div>-->
<!--    <div class="progress flex">-->
<!--        <img src="images/icons8-jpg-50.png"/>-->
<!--        <div class="flex column flex1 justify-content-stretch">-->
<!--            <span class="name"></span>-->
<!--            <progress class="progress-bar" max="100" value="0">0 %</progress>-->
<!--            <div class="flex justify-content-space-between">-->
<!--                <span class="uploading-file-size"></span>-->
<!--                <span class="uploading-percentage"></span>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <button class="done">DONE</button>-->
<!--</div>-->
<!--</body>-->


<body class="flex">
<div class="file-upload flex column justify-content-space-around">
    <form method="POST" action="uploadFile" enctype="multipart/form-data">
        Файлы для переименования: <br/>
        <input type="file" name="files" multiple><br/>
        Excel: <br/>
        <input type="file" name="excel" accept=".xlsx, .xls, .csv"><br/>
        <input type="checkbox" name="extension"> Имена в Excel указаны с расширением<br/>
        <input type="submit" value="Поехали!"><br/>
    </form>
</div>
</body>

</html>